body{
    background-color: slateblue;
    position: relative;
}
.radBox{
    border: 2px yellow solid;
    width: 180px;
    float: left;
    /* Als je inline-block gebruikt zet je de blokjes meer naar beneden en als je float: left gebruikt gaan de blokjes meer omhoog  */
    /* display: inline-block; */
    /* text-align: center; */
    margin-top: 80px;
    position: absolute;
    /* transform: rotate(20deg); */
}
#score{
    margin-left: 165px;
    margin-bottom: -80px;
    width: 10px;
    padding: 20px;
    background-color: white;
    border: 2px black solid;
}
#wheelContainer{
    width: 180px;
    height: 180px;
    margin-left: 100px;
    animation: mymove 8s;
    animation-fill-mode: forwards;
    /* border-radius: 50%; */
    /* background-color:   salmon; */
    margin-top: 100px;

    
}
@keyframes rotate {
    100% {transform: rotate(360deg);}
  }
#knop{
    padding: 10px;
    background-color: springgreen;
    border: 5px slategrey solid;
    margin-top: 50px;
    margin-left: 155px;
    float: left;
}

